<header>
  <section class="logo-section">
    <img src="assets\logo.png">
    <h2 i18n="Page title|Title for the website@@PageHeader">{{"Navbar.Title" | translate}}</h2>
  </section>

  <section class="nav-anchors">
    <!-- <a class="nav-item" href='' i18n="Menu Item Home|home@@PageHeaderMenuItem1">{{"Navbar.Menu.Home" | translate}}</a> -->
    <a class="nav-item" [routerLink]="[ '/gender']" i18n="Menu Item Gender|Go the gender check page@@PageHeaderMenuItem2">{{"Navbar.Menu.Gender" | translate}}</a>
    <a class="nav-item" [routerLink]="[ '/translation']" i18n="Menu Item Translation|Go to translation of pinyin to chinese page@@PageHeaderMenuItem3">{{"Navbar.Menu.Translation" | translate}}</a>
    <a class="nav-item" [routerLink]="[ '/matching']" i18n="Menu Item Matching|Go to probability matching between pinyin and chinese name page@@PageHeaderMenuItem4">{{"Navbar.Menu.Matching" | translate}}</a>
    <a href="/chinese-name-api.html">中文</a>
    <a class="sign-in-anchor" href="https://v2.namsor.com/NamSorAPIv2/sign-in.html">
      <span i18n="Menu Item Sign in|Sign In@@PageHeaderMenuItem5">{{"Navbar.Menu.Signin" | translate}}</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </section>
</header>

  <div class="dropdown">
    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe-asia"></i>&nbsp;<span>{{ 'Footer.Language' | translate }}</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" (click)="changeLanguage('en')">{{ 'Footer.English' | translate }}</a>
      <a class="dropdown-item" (click)="changeLanguage('zh')">{{ 'Footer.Chinese' | translate }}</a>
    </div>
  </div>