<section class="translation-section-container">
  <header>
    <h2>{{"API.TranslationTab.HeadingFirst" | translate}} <i class="fas fa-arrows-alt-h"></i> {{"API.TranslationTab.HeadingSecond" | translate}}</h2>
    <p>{{"API.TranslationTab.Description" | translate}}</p>
  </header>

  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedMode | translate}}</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="selectedMode = 'Pinyin'">{{"Pinyin" | translate}}</a>
        <a class="dropdown-item" (click)="selectedMode = 'Chinese'">{{"Chinese" | translate}}</a>
      </div>
    </div>
    <input type="text" *ngIf="selectedMode === 'Pinyin'" aria-label="First name" [placeholder]="'First Name' | translate" class="form-control" [(ngModel)]="firstName" (ngModelChange)="onInputChnage()">
    <input type="text" *ngIf="selectedMode === 'Pinyin'" aria-label="Last name" [placeholder]="'Last Name' | translate" class="form-control" [(ngModel)]="lastName" (ngModelChange)="onInputChnage()">
    <input type="text" *ngIf="selectedMode === 'Chinese'" aria-label="Chinese" [placeholder]="'Chinese Name' | translate" class="form-control" [(ngModel)]="chineseName" (ngModelChange)="onInputChnage()">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="translate()">
        <span *ngIf="!loading">{{"API.TranslationTab.Button" | translate}}</span>
        <i class="fas fa-spinner" *ngIf="loading"></i>
      </button>
    </div>
  </div>
  <p class="err-msg" *ngIf="err">{{"API.TranslationTab.Error" | translate}}</p>

  <button class="btn btn-primary mobile-btn" type="button" (click)="translate()">
    <span *ngIf="!loading">{{"API.TranslationTab.Button" | translate}}</span>
    <i class="fas fa-spinner" *ngIf="loading"></i>
  </button>

  <main *ngIf="pinyinTranslationResponse">
    <p><span class="result-name">{{pinyinTranslationResponse.firstName}} {{pinyinTranslationResponse.lastName}}</span>{{"API.TranslationTab.ResultTitle" | translate}}</p>
    <section class="chinese-name-list">
      <section *ngFor="let candidate of pinyinTranslationResponse.matchCandidates" class="candidate">
        <span class="name">{{candidate.candidateName}}</span>
        <span class="probability">{{candidate.probability | percent: '1.4-6'}}</span>
      </section>
    </section>
  </main>

  <main *ngIf="chineseTranslationResponse">
    <p><span class="result-name">{{chineseTranslationResponse.name}}</span>{{"API.TranslationTab.ChineseResultTitle" | translate}}</p>
    <section class="chinese-translation-result" >
      <span *ngIf="chineseTranslationResponse.firstLastName !== null">{{chineseTranslationResponse.firstLastName.firstName}} {{chineseTranslationResponse.firstLastName.lastName}}</span>
      <span *ngIf="chineseTranslationResponse.firstLastName === null">{{"API.TranslationTab.NoResult" | translate}}</span>
    </section>
  </main>
</section>