.page-not-found-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    background: rgba(55, 125, 255, 0.05);

    h2 {
        margin-bottom: 2rem;
    }

    button {
        font-size: 1.2rem;
        font-weight: 500;
    }
}