<section class="price-plans-section">
  <h2 class="section-title">{{"PricePlans.Heading" | translate}}</h2>
  <p class="section-descrption">{{"PricePlans.Description" | translate}}</p>
  <section class="cards-section">
    <section class="price-plan-card">
      <header>
        <h2>{{"PricePlans.BasicPlan.Name" | translate}}</h2>
        <section class="price">
          <span class="dollar-sign">$</span>
          <span class="price-number">0</span>
          <span class="interval">/{{"PricePlans.BasicPlan.Unit" | translate}}</span>
        </section>
      </header>
      <main>
        <ul class="feature-list">
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.BasicPlan.Item1" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.BasicPlan.Item2" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.BasicPlan.Item3" | translate}}</p>
          </li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-primary" (click)="getStarted()">{{"PricePlans.BasicPlan.Button" | translate}}</button>
      </footer>
    </section>
    <section class="price-plan-card bigger-card">
      <header>
        <h2>{{"PricePlans.ProPlan.Name" | translate}}</h2>
        <section class="price">
          <span class="dollar-sign">$</span>
          <span class="price-number">19</span>
          <span class="interval">/{{"PricePlans.ProPlan.Unit" | translate}}</span>
        </section>
      </header>
      <main>
        <ul class="feature-list">
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.ProPlan.Item1" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.ProPlan.Item2" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.ProPlan.Item3" | translate}}</p>
          </li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-primary" (click)="getStarted()">{{"PricePlans.ProPlan.Button" | translate}}</button>
      </footer>
    </section>
    <section class="price-plan-card">
      <header>
        <h2>{{"PricePlans.UltraPlan.Name" | translate}}</h2>
        <section class="price">
          <span class="dollar-sign">$</span>
          <span class="price-number">130</span>
          <span class="interval">/{{"PricePlans.UltraPlan.Unit" | translate}}</span>
        </section>
      </header>
      <main>
        <ul class="feature-list">
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.UltraPlan.Item1" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.UltraPlan.Item2" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.UltraPlan.Item3" | translate}}</p>
          </li>
          <li>
            <i class="far fa-check-circle"></i>
            <p>{{"PricePlans.UltraPlan.Item4" | translate}}</p>
          </li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-primary" (click)="getStarted()">{{"PricePlans.UltraPlan.Button" | translate}}</button>
      </footer>
    </section>
  </section>
</section>