.machine-learning-container {
    padding: 5rem 0 10rem 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    // background-image: linear-gradient(0deg, rgba(55, 125, 255, 0.02) 100%, transparent 100%);
    background: #f6f9fc;
    .img-wrapper {
        flex-basis: 50%;
        padding: 2rem;
        max-width: 512px;
        img {
            width: 100%;
            height: auto;
        }
    }

    .text-wrapper {
        flex-basis: 50%;
        max-width: 512px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 2rem;
            font-weight: bolder;
            color: #1e2022;
        }

        p {
            text-align: center;
            color: #77838f;
        }
    }
}


@media only screen and (max-width: 900px) {
    .machine-learning-container {
        flex-direction: column;
        align-items: center;
        .img-wrapper {
            flex: 1;
        }

        .text-wrapper { 
            flex: 1;
        }
    }
}