<section class="identityVerification-section-container">
  <header>
    <section class="img-wrapper">
      <img class="img-namso" src="assets/NamsorLogo.png">
      <img class="img-plus" src="assets/plus.png">
      <img class="img-gdc" src="assets/GDCLogo_full_250.png">
    </section>
   
    <h5>{{"API.IdentityVerificationTab.HeadingPrefix" | translate}} <span>{{"API.IdentityVerificationTab.HeadingMiddle" | translate}}</span> {{"API.IdentityVerificationTab.HeadingSuffix" | translate}}</h5>
  </header>

  <section class="section-header-top">
    <section class="content">
      <h3>{{"API.IdentityVerificationTab.Problem" | translate}}</h3>
      <p>{{"API.IdentityVerificationTab.ProblemDescription" | translate}}</p>
    </section>
    <section class="image">
      <img class="img-gdc" src="assets/ChinaFlag.png">
    </section>
  </section>
  <section class="section-header-buttom">
    <section class="image">
      <img class="img-gdc" src="assets/KYC.png">
    </section>
    <section class="content">
      <h3>{{"API.IdentityVerificationTab.Regulations" | translate}}</h3>
      <p>{{"API.IdentityVerificationTab.ProblemRegulations" | translate}}</p>
    </section>
  </section>
  <section class="section-alphabet">
    <img class="img-CNcharacter" src="assets/CN Characters.png">
    <h3>{{"API.IdentityVerificationTab.Alphabets" | translate}}</h3>
    <p>{{"API.IdentityVerificationTab.ProblemAlphabets" | translate}}</p>
    <div class="learnMore">
      <a href="https://globaldataconsortium.com/contact-us/">{{"API.IdentityVerificationTab.button" | translate}}</a>
    </div>
  </section>
  <section class="section-solution">
    <h3>{{"API.IdentityVerificationTab.Solution1" | translate}}</h3>
    <h3>{{"API.IdentityVerificationTab.Solution2" | translate}}</h3>
    <p>{{"API.IdentityVerificationTab.ProblemSolution1" | translate}}</p>
    <p>{{"API.IdentityVerificationTab.ProblemSolution2" | translate}}</p>
    <h3>{{"API.IdentityVerificationTab.Solution3" | translate}}</h3>
    <p>{{"API.IdentityVerificationTab.ProblemSolution3" | translate}}</p>
    <p>{{"API.IdentityVerificationTab.ProblemSolution4" | translate}}</p>
    <p>{{"API.IdentityVerificationTab.ProblemSolution5" | translate}}</p>
    <div class="learnMore">
      <a href="https://globaldataconsortium.com/contact-us/">{{"API.IdentityVerificationTab.button" | translate}}</a>
    </div>
  </section>
  <section class="section-electronic">
    <p>{{"API.IdentityVerificationTab.ProblemElectronic" | translate}}</p>
  </section>
  
</section>